<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!-- Session state maintained using StateServer (as asked in some slips) -->
    <!-- Default: InProc. Change mode="StateServer" and add stateConnectionString for out-of-proc -->
    <sessionState mode="InProc" timeout="20" />
  </system.web>
</configuration>
